<div style="background-color:mediumseagreen; margin-top: 20px; margin-left:20px; margin-right:20px;" class="card">
  <a href="{{mapService.recommendedHouse.Ilanlinki}}" target="_blank">
    <div class="container">
      <h4><b>{{mapService.recommendedHouse.Ilanbasligi}}</b></h4>
      <div style="display: flex; flex-direction: row; margin-top:10px;">
        <div style="display: flex; flex:1"><img width="80%" height="80%" style="margin-top:10px" alt="" src="assets/mock-ev.jpg"/> </div>
        <div style="display: flex; flex-direction: column; flex: 1">
        <span>Fiyat</span>
        <p>{{mapService.recommendedHouse.price*1000+" TL"}}</p>
        <span>Metrekare</span>
        <p>{{mapService.recommendedHouse.squaremeter}}</p>
        <span>Oda sayısı</span>
        <p>{{mapService.recommendedHouse.numberofrooms}}</p>
      </div>
      <div style="display: flex; flex-direction: column; flex: 1;">
        <span>Eşyalı</span>
        <p>{{mapService.recommendedHouse.esyali}}</p>
        <span>Bina yaşı</span>
        <p>{{mapService.recommendedHouse.age}}</p>
        <span>Balkon</span>
        <p>{{mapService.recommendedHouse.balcony}}</p>
      </div>
      <div style="display: flex; flex-direction: column; flex: 1;">
        <span>Site içerisinde</span>
        <p>{{mapService.recommendedHouse.SiteIcerisinde}}</p>
        <span>Isınma Tipi</span>
        <p>{{mapService.recommendedHouse.heating}}</p>
        <span>Kat sayısı</span>
        <p>{{mapService.recommendedHouse.numberoffloors}}</p>
      </div>
    </div>
  </div>
  </a>
</div>

