<div style="display: flex; flex: 1;">
  <img style="width:1800px;" src="../../assets/about-us.png"/>
</div>
<div style="background-color:#343a40; width: 1800px; height: 400px">
  <div style="display: flex; flex: 1; flex-direction: row; align-items: flex-start; padding-top:90px;">
    <div class="bt" style="margin-left: 200px;">
      <div class="contact">
     <p style="font-size: large; font-weight: bold;">İletişim Hattı</p>
        <p>Telefon: +90 505 12 34</p>
      <p>Destek Hattı: 0212 12 34 56</p>
     <p>Email: info@closeup.com</p>
      </div>
    </div>
    <div class="bt">
    <div class="contact">
      <p style="font-size: large; font-weight: bold;">Kurumsal Ofis</p>
      Boğaziçi Üniversitesi, Hisar Kampüs,
     <p>Yönetim Bilişim Sistemleri Bölüm Binası, 34000</p>
    </div>
    </div>
    <div class="bt">
    <div class="contact">
   <p style="font-size: large; font-weight: bold"> Departmanlar</p>
    <span class="nosatir">customerservice@closeup.com</span><br>
      <span class="nosatir"> sales@closeup.com</span><br>
      <span class="nosatir"> disputes@closeup.com</span><br>
      <span> compliance@closeup.com</span><br>
      <span>  careers@closeup.com</span><br>
    </div>
  </div>
  </div>
</div>
