<nav class="navbar navbar-expand navbar-dark" style="background-color: #1d2124">
  <div class="navbar-nav">
    <a class="nav-item nav-link" style="color: white; font-weight: bold" routerLink="/">Ana Sayfa</a>
    <a class="nav-item nav-link" style="color: white; font-weight: bold" routerLink="/aboutUs">Hakkımızda</a>
    <a class="nav-item nav-link" style="color: white; font-weight: bold"  routerLink="/howItWorks">Nasıl Çalışır?</a>
    <span style="color:whitesmoke; margin-left: 500px;font-family: monospace; font-size: 16px; font-weight: bold;" class="nav-item nav-link">CloseUp</span>
  </div>
</nav>
<div>
        <router-outlet></router-outlet>
</div>
